<div class="row mb-5 align-items-center " style="height: 200px; background-color: #f0f0d8; border-radius: 20px;">
    <div class="col-4">
        <img src="{{img}}" alt="car" width="100%" class=" ms-4">
    </div>
    <div class="col-8">
        <div class="mx-4">
            <h3>{{nameCar}}</h3>
            <h5>{{typeCar}}<br></h5>
            <h5>Price per day: ${{price | number: '2.'}}</h5>
            <button class="btn btn-dark float-end" routerLink="/rent/{{id}}">Rent this car</button>
        </div>
    </div>
</div>


  