<div class="container">
    <div class="row justify-content-center mt-5 p-4" style="background-color: #f0f0d8; border-radius: 20px;">
        <div class="col-6 pe-4">
            <h4 class="mb-5">Fill out the following form to complete the purchase:</h4>
            <form action="" [formGroup]="rentForm">
                <h5>Enter your name:</h5>
                <p style="font-style: oblique;" *ngIf="errorName">Please, don't forget to enter your name</p>
                <input type="text" class="form-control mb-5" formControlName="name" placeholder="Your name">
                <h5>Enter your email:</h5>
                <p style="font-style: oblique;" *ngIf="errorEmail">Please, don't forget to enter your email</p>
                <input type="email" class="form-control mb-5" formControlName="email" placeholder="Your email">
            </form>
            <h5 class="float-start">How many days will you rent the car?</h5>
            <div class="float-end">
                <button (click)="decrement()" class="btn btn-dark">-</button>
                <span class="mx-3 fs-5">{{days}}</span>
                <button (click)="increment()" class="btn btn-dark">+</button>
            </div>
            <button (click)="sendOrder()" class="mt-5 btn btn-dark ">Rent the car</button>
            <div *ngIf="msgError" class="mt-4">
                <p style="color:#1693a5; font-style: oblique;">Your email <span style="color:black">{{this.rentForm.value.email}}</span> has rented a car</p>
                <p style="color:#1693a5; font-style: oblique;">To check your purchase status please click <a routerLink="/checkRent" style="color: black;">here</a></p>
            </div>
        </div>
        <div class="col-6">
            <img src="{{car.img}}" alt="car" width="100%" class="rounded mb-5">
            <h1>{{car.name_car}}</h1>
            <h3>Category: {{car.type_car}}</h3>
            <h3>Total price: ${{days * car.price | number: '2.'}}</h3>
        </div>
    </div>
</div>