<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-5">
            <img src="https://images.vexels.com/media/users/3/302008/isolated/preview/221bad773e4444f36554865f4114168b-carita-feliz-kawaii.png" alt="Happy face" width="100%">
        </div>
        <div class="col-8">
            <h1 class="mb-3 text-center" style="color: #1693a5;">¡Congratulations!</h1>
            <h3 class="text-center">The car has been successfully delivered</h3>
            <div class="text-white p-3 my-5" style="background-color: #1693a5; border-radius: 20px;">
                <h3>We greatly appreciate your preference for us and we hope to see you again</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <button routerLink="" class="col-3 btn btn-dark">Go to main page</button>
    </div>
</div>


